* {
  margin: 0;
  padding: 0;
}
.videoBg {
  width: 100%;
  height: 100vh;
  z-index: -10;
}
#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
